# PXE configuration
DEFAULT vesamenu.c32
TIMEOUT 20
PROMPT 0
UI boot/isolinux/vesamenu.c32
MENU INCLUDE boot/isolinux/archiso_head.cfg
MENU INCLUDE boot/isolinux/archiso_pxe.cfg
MENU INCLUDE boot/isolinux/archiso_tail.cfg

LABEL arch64nopxe
MENU LABEL ^Boot without PXE
COM32 boot/isolinux/chain.c32 hd0 0
