# Grub preset configuration
search --no-floppy --set=root --label ENDEAVOUR_KDE
echo 'Loading Endeavour OS Privacy Edition...'
insmod gzio
insmod part_gpt
insmod ext2
set default=0
set timeout=5

menuentry 'Endeavour OS Privacy Edition (x86_64, UEFI)' --class arch --class gnu-linux --class os $menuentry_id_option 'gnulinux-arch-true' {
    search --no-floppy --set=root --label ENDEAVOUR_KDE
    echo 'Loading Linux linux-hardened ...'
    linuxefi /arch/boot/x86_64/vmlinuz-linux-hardened archisobasedir=arch archisolabel=ENDEAVOUR_KDE cow_spacesize=10G misobasedir=arch misolabel=ENDEAVOUR_KDE
    echo 'Loading initial ramdisk ...'
    initrdefi /arch/boot/x86_64/initramfs-linux-hardened.img
}
