# UDEV rules for MAC spoofing
# Auto-spoof MAC on every interface change

ACTION=="add", SUBSYSTEM=="net", RUN+="/usr/bin/systemctl start macspoof@%k.service"
